@charset "UTF-8";

main {
    margin-top: 320px;
    color: #fff;
}

#login-div {
    background-color: #0f2a94;
    padding: 20px;
}

main h1 {
    font-size: 40px;
}

.message {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-div button {
    padding: 10px 20px;
    background-color: #fff;
    color: #0f2a94;
    border: none;
    cursor: pointer;
}

#faculties {
    background-color: #fff;
    color: #000;
    margin-top: 40px;
    display: grid;
}

#faculties h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: normal;
}

#faculty {
    padding: 15px;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

#faculty div {
    border: 1px solid #0f2a94;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    height: 160px;
    box-shadow: 0px 0px 10px #0f2a94;
}

#faculty div img {
    margin-top: 15px;
}

.faculty-name {
    color: #0f2a94;
    margin: 10px 0px;
}