@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Calibri, sans-serif;
}

nav {
    background-color: rgb(56, 54, 54);
    color: #fff;
    padding: 10px;
}

nav #section {
    margin-left: 22px;
}

#navsect {
    display: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

#section-p p {
    display: inline-block;
    margin-left: 10px;
}

.icons {
    width: 15px;
}

@media screen and (min-width: 510px) and (max-width: 864px) {

    #section {
        margin: auto;
        width: 80vw;
    }

    nav a {
        font-size: 13px;
    }
}

@media screen and (min-width: 865px) {
    span {
        display: none;
    }

    #navsect {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 79.5vw;
    }

    #navsect section {
        display: flex;
        justify-content: space-between;
    }

    #navsect section a {
        padding: 5px;
    }
}
