@charset "UTF-8";

header {
    background-color: #2d3d7d;
    color: #fff;
    height: 20vh;
    align-content: center;
    padding: 10px;
    font-size: 20px;
}

#sect1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: -7px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

span {
    cursor: pointer;
}

.menu {
    display: none;
    margin-left: 22px;
}

@media screen and (min-width: 865px) {
    header {
        height: 10vh;
        font-size: 25px;
    }
    
    #flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        margin: auto;
    }

    .menu {
        display: block;
    }

    #sect1 a,
    .menu a {
        font-size: 13px;
    }
}
